@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

@layer utilities {
  .bg-background {
    background-color: hsl(var(--background)); /* Define bg-background */
  }

  .text-foreground {
    color: hsl(var(--foreground)); /* Define text-foreground */
  }

  .border-border {
    border-color: hsl(var(--border)); /* Define border-border */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border;
  }
}
